@model MouratoAirport.Models.AirplaneAirpoViewModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Airport Dashboard</title>
    <link rel="stylesheet" href="~/css/Airplane.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="~/images/logo2-min.png" alt="">
            <h2>Airport Mourato</h2>
        </div>

        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i><a asp-action="Admin" asp-controller="Account">Dashboard</a></li>
            <li><i class="fa-solid fa-plane"></i><a asp-action="Index" asp-controller="Airplane">Airplanes</a></li>
            <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="#">Logout</a></li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="~/images/logo2-min.png" alt="">
            </div>
        </div>

        <h3 class="i-name">Flights</h3>

        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-plane-up"></i>
                <div>
                    <h3><a asp-action="Create" asp-controller="Airplanes" style="text-decoration: none;outline: none;color: #081a29;">Add</a></h3>
                    <span>New Airplanes</span>
                </div>
            </div>
        </div>

        <dir class="boardairplane">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Total Seats</td>
                        <td>Airplane</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Airplane)
                    {
                    <tr>
                        <td>
                            <div class="airplane-de">
                                <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                                <p>@Html.DisplayFor(modelItem => item.Model)</p>
                            </div>
                        </td>

                        <td class="airplane-de">
                            <h5>@Html.DisplayFor(modelItem => item.Seat)</h5>
                        </td>

                        <td class="airplanee">
                            <img src="@Url.Content(item.ImageUrl.ToString())" alt="">
                        </td>

                            <td class="edit"><a asp-action="Edit" asp-route-id="@item.Id" asp-route-edit="airplane">Edit</a></td>

                            <td class="edit"><a asp-action="Remove" asp-route-id="@item.Id">Remove</a></td>

                    </tr>
                    }
                </tbody>
            </table>
        </dir>

        <h3 class="i-name">Cities/Airports</h3>

        <dir class="boardcities">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Airport</td>
                        <td>City</td>
                        <td>Location</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Airpo)
                    {
                    <tr>
                        <td>
                            <div class="city-de">
                                <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                            </div>
                        </td>

                        <td class="city-de">
                                <h5>@Html.DisplayFor(modelItem => item.City)</h5>
                        </td>

                        <td class="city-de">
                                <a href="@Html.DisplayFor(modelItem => item.Location)">View Location</a>
                        </td>

                            <td class="edit"><a asp-action="Edit" asp-route-id="@item.Id" asp-route-edit="airport">Edit</a></td>

                            <td class="edit"><a asp-action="RemoveAirport" asp-route-id="@item.Id">Remove</a></td>

                    </tr>
                    }
                </tbody>
            </table>
        </dir>
    </section>

</body>