@model MouratoAirport.Models.BuyTicketViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<head>
    <meta charset="URF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/Buyticket.css" />

    <title>Buy Ticket</title>
</head>

<body>

    <nav>
        <div class="container">
            <div>
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/images/logo2-min.png" alt="Logo" class="logo" />
                </a>
                <div class="menu">
                    <ul>
                        <li>
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Tickets">Buy Ticket</a>
                        </li>
                        <li>
                            <a asp-action="Schedules" asp-controller="Home">Schedules</a>
                        </li>
                        <li>
                            <a asp-action="History" asp-controller="Home">See History</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>






      <div class="plan">
  <div class="seat">
    <!--  use image here for cookpit    -->
            @*    <img src="~/img/cook.png" alt="">*@

    <div class="main">
        <h5 style="color:#fff">Choose Seat</h5>

      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva bl  text-center">
            <label for="num" class="num">
              <span>A</span>

            </label>
            <label for="num" class="num">
              <span>B</span>
            </label>
            <label for="num" class="num">
              <span>C</span>
            </label>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="alva br">
            <label for="num" class="num">
              <span>D</span>
            </label>
            <label for="num" class="num">
              <span>E</span>
            </label>
            <label for="num" class="num">
              <span>F</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva bl">
            <label for="num" class="num">
              <span>1</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A1"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B1"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C1"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva br">
            <label>
              <input type="checkbox">
              <span value="D1"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E1"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F1"></span>
            </label>
            <label for="num" class="num">
              <span>1</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva bl">
            <label for="num" class="num">
              <span>2</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A2"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B2"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C2"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva br">
            <label>
              <input type="checkbox">
              <span value="D2"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E2"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F2"></span>
            </label>
            <label for="num" class="num">
              <span>2</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva bl">
            <label for="num" class="num">
              <span>3</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A3"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B3"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C3"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva br">
            <label>
              <input type="checkbox">
              <span value="D3"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E3"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F3"></span>
            </label>
            <label for="num" class="num">
              <span>3</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva bl">
            <label for="num" class="num">
              <span>4</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A4"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="b4"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="c4"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva br">
            <label>
              <input type="checkbox">
               <span value="D4"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E4"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F4"></span>
            </label>
            <label for="num" class="num">
              <span>4</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva bl">
            <label for="num" class="num">
              <span>5</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A5"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B5"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C5"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva br">
            <label>
              <input type="checkbox">
              <span value="D5"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E5"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F5"></span>
            </label>
            <label for="num" class="num">
              <span>5</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva1 bl1">
            <label for="num" class="num">
              <span>6</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A6"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B6"></spa>
            </label>
            <label>
              <input type="checkbox">
              <span value="C6"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva1 br">
            <label>
              <input type="checkbox">
              <span value="D6"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E6"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F6"></span>
            </label>
            <label for="num" class="num">
              <span>6</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva1 bl">
            <label for="num" class="num">
              <span>7</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A7"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B7"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C7"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva1 br">
            <label>
              <input type="checkbox">
              <span value="D7"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E7"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F7"></span>
            </label>
            <label for="num" class="num">
              <span>7</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva1 bl">
            <label for="num" class="num">
              <span>8</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A8"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B8"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C8"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva1 br">
            <label>
              <input type="checkbox">
              <span value="D8"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E8"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F8"></span>
            </label>
            <label for="num" class="num">
              <span>8</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva1 bl">
            <label for="num" class="num">
              <span>9</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A9"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B9"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C9"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva1 br">
            <label>
              <input type="checkbox">
              <span value="D9"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E9"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F9"></span>
            </label>
            <label for="num" class="num">
              <span>9</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva1 bl">
            <label for="num" class="num">
              <span>10</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A10"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B10"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C10"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva1 br">
            <label>
              <input type="checkbox">
              <span value="D10"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E10"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F10"></span>
            </label>
            <label for="num" class="num">
              <span>10</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva1 bl">
            <label for="num" class="num">
              <span>11</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A11"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B11"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C11"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva1 br">
            <label>
              <input type="checkbox">
              <span value="D11"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E11"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F11"></span>
            </label>
            <label for="num" class="num">
              <span>11</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva1 bl">
            <label for="num" class="num">
              <span>12</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A12"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B12"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C12"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva1 br">
            <label>
              <input type="checkbox">
              <span value="D12"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E12"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F12"></span>
            </label>
            <label for="num" class="num">
              <span>12</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>13</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A13"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B13"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C13"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D13"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E13"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F13"></span>
            </label>
            <label for="num" class="num">
              <span>13</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>14</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A14"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B14"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C14"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D14"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E14"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F14"></span>
            </label>
            <label for="num" class="num">
              <span>14</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>15</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A15"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B15"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C15"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D15"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E15"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F15"></span>
            </label>
            <label for="num" class="num">
              <span>15</span>
            </label>
          </div>
        </div>
      </div>
      <!-- 15 seats -->

      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>16</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A16"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B16"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C16"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D16"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E16"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F16"></span>
            </label>
            <label for="num" class="num">
              <span>16</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>17</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A17"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B17"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C17"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D17"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E17"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F17"></span>
            </label>
            <label for="num" class="num">
              <span>17</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>18</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A18"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B18"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C18"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D18"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E18"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F18"></span>
            </label>
            <label for="num" class="num">
              <span>18</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>19</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A19"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B19"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C19"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D19"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E19"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F19"></span>
            </label>
            <label for="num" class="num">
              <span>19</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>20</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A20"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B20"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C20"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D20"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E20"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F20"></span>
            </label>
            <label for="num" class="num">
              <span>20</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>21</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A21"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B21"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C21"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D21"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E21"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F21"></span>
            </label>
            <label for="num" class="num">
              <span>21</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>22</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A22"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B22"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C22"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D22"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E22"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F22"></span>
            </label>
            <label for="num" class="num">
              <span>22</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>23</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A23"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B23"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C23"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D23"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E23"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F23"></span>
            </label>
            <label for="num" class="num">
              <span>23</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>24</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A24"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B24"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C24"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D24"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E24"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F24"></span>
            </label>
            <label for="num" class="num">
              <span>24</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>25</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A25"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B25"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C25"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D25"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E25"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F25"></span>
            </label>
            <label for="num" class="num">
              <span>25</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>26</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A26"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B26"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C26"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D26"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E26"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F26"></span>
            </label>
            <label for="num" class="num">
              <span>26</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>27</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A27"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B27"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C27"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D27"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E27"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F27"></span>
            </label>
            <label for="num" class="num">
              <span>27</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>28</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A28"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B28"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C28"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D28"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E28"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F28"></span>
            </label>
            <label for="num" class="num">
              <span>28</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row  d-flex">
        <div class="col-md-6">
          <div class="alva2 bl">
            <label for="num" class="num">
              <span>29</span>
            </label>
            <label>
              <input type="checkbox">
              <span value="A29"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="B29"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="C29"></span>
            </label>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="alva2 br">
            <label>
              <input type="checkbox">
              <span value="D29"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="E29"></span>
            </label>
            <label>
              <input type="checkbox">
              <span value="F29"></span>
            </label>
            <label for="num" class="num">
              <span>29</span>
            </label>
          </div>
        </div>
      </div>

      <div class="exit exit--back fuselage">
      </div>
    </div>
    <!-- use image here for tail -->
            @*   <img src="~/images/cook.png" alt="">*@
  </div>
</div>

<div class="square">
    <label>Economic</label>
</div>
<div class="square1">Business</div>
<div class="square2">Deluxe</div>










    <!--Credit Card-->
    <form method="post">
    <section id="oof" style="margin-top:750px">

        <div id="FullName">
            <label class="label" for="message" style="width: 15%;">Full Name :</label>
            <input asp-for="Name" id="message" type="text" placeholder="Full Name" class="firstname" required>
        </div>

        <div id="NameOnCard">
            <label class="label" for="message" style="width: 17%;">Name on Card :</label>
            <input asp-for="NameOnCard" id="message" type="text" placeholder="Name on Card" required>
        </div>

        <div id="CardNumberProfile">
            <label class="label" for="message" style="width: 23%;">Card Number :</label>
            <input asp-for="CardNumber" id="card" placeholder="Card Number" data-mask="0000-0000-0000-0000" type="text" class="card-number-input"  required>
        </div>


        <div class="flex">
            <div id="ExpireDate" style="width: 33%;">
                <label class="label" for="message" style="width: 25%;">Card Date :</label>
                <input asp-for="ExpiredDate" id="message" type="text" data-mask="00/00" placeholder="00/00" required>
            </div>

            <div id="CVV" style="width: 33%;">
                <label class="label" for="message" style="width: 15%;">CVV :</label>
                <input asp-for="Cvv" id="card" type="text" data-mask="000" placeholder="123" required>
            </div>

            <div id="Total" style="width: 33%;">
                <label class="label" for="message" style="width: 15%;">Total :</label>
                <input asp-for="Price" id="card" type="text" class="total"  readonly>
            </div>

                
               

            <div class="center" style="padding-top: 80px;position: absolute;margin-left: 240px;width: 30%;">
                <input asp-route-id="@Model.Flights.Id" type="submit" value="Pay Ticket" class="submit-btn">
            </div>
        </div>
        
                <input asp-for="Seat" id="card" type="text" class="seatnumber" style="visibility:hidden;" readonly>

                <input asp-for="TypeSeat" id="card" type="text" class="typeseat" style="visibility:hidden;" readonly>
    </section>
    </form>
    <!--Ticket-->

    <main class="ticket-system" style="position: absolute;margin-top:750px">
        <div class="top">
            <h1 class="title">Wait a second, your ticket is being printed</h1>
            <div class="printer">
            </div>
            <div class="receipts-wrapper">
                <div class="receipts">
                    <div class="receipt">
                        <img class="airliner-logo" src="images/plane2-min.png" alt="">
                        <path d="M402.772 59.544c0-13.172-9.632-16.649-21.203-20.114-5.601-1.644-10.58-3.115-10.58-7.98 0-4.271 4.319-5.691 7.571-5.691 2.738 0 7.917.578 8.342 6.918h14.702c-.252-12.098-10.128-17.364-22.78-17.364-7.835 0-14.34 2.226-18.431 6.246-2.835 2.808-4.578 6.922-4.578 11.209 0 11.122 7.418 15.579 15.823 18.123 9.431 2.879 15.669 4.606 15.669 9.801 0 3.462-2.741 6.927-8.161 6.927-6.914 0-9.415-4.118-9.581-8.165h-14.843c0 13.757 11.587 18.803 24.424 18.803 16.37 0 23.626-9.321 23.626-18.713m-53.36 0c0-13.172-9.584-16.649-21.171-20.114-5.585-1.644-10.6-3.115-10.6-7.98 0-4.271 4.338-5.691 7.587-5.691 2.757 0 7.913.578 8.326 6.918h14.675c-.244-12.098-10.073-17.364-22.749-17.364-7.839 0-14.348 2.226-18.415 6.246-2.831 2.808-4.582 6.922-4.582 11.209 0 11.122 7.418 15.579 15.835 18.123 9.415 2.879 15.673 4.606 15.673 9.801 0 3.462-2.745 6.927-8.169 6.927-6.922 0-9.431-4.118-9.581-8.165h-14.835c0 13.757 11.586 18.803 24.416 18.803 16.326 0 23.59-9.321 23.59-18.713m-166.379 0c0-11.453-6.077-15.288-19.366-19.622-6.266-2.037-12.106-3.607-12.106-8.472 0-4.271 4.338-5.691 7.587-5.691 2.749 0 7.929.578 8.349 6.918h14.659c-.252-12.098-10.088-17.364-22.749-17.364-7.846 0-14.328 2.226-18.418 6.246-2.844 2.808-4.578 6.922-4.578 11.209 0 11.122 7.425 15.579 15.814 18.123 9.44 2.879 15.678 4.606 15.678 9.801 0 3.462-2.75 6.927-8.181 6.927-6.891 0-9.404-4.118-9.561-8.165h-14.844c0 13.757 11.603 18.803 24.405 18.803 16.349 0 23.311-9.321 23.311-18.713m74.787-42.843l-9.978 40.035-11.689-40.035h-14.981l-11.681 40.035-10.006-40.035h-15.162l16.491 59.739h16.02l11.822-40.966 11.827 40.966h16l16.542-59.739H257.82zm36.723 59.739h-15.516V16.701h15.516V76.44zM102.141 93.347H0L74.861 0h50.276l-22.996 93.347z" fill="#dc2f34" />
                        <path d="M86.514 38.058V17.96H69.291v20.098H49.193v17.223h20.079v20.106h17.23V55.281h20.11V38.058H86.514z" fill="#fff" />
                        </svg>
                        <div class="route">
                            <h2>@Model.Flights.From</h2>
                            <svg class="plane-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 510 510">
                                <path fill="#00ac9d" d="M497.25 357v-51l-204-127.5V38.25C293.25 17.85 275.4 0 255 0s-38.25 17.85-38.25 38.25V178.5L12.75 306v51l204-63.75V433.5l-51 38.25V510L255 484.5l89.25 25.5v-38.25l-51-38.25V293.25l204 63.75z" />
                            </svg>
                            <h2>@Model.Flights.To</h2>
                        </div>
                        <div class="details">
                            <div class="item">
                                <span>Passanger</span>
                                <h3 class="insertname"></h3>
                            </div>
                            <div class="item">
                                <span>Flight No.</span>
                                <h3>@Model.Flights.Number</h3>
                            </div>
                            <div class="item">
                                <span>Departure</span>
                                <h3>@Model.Flights.Date</h3>
                            </div> 
                            <div class="item">
                                <span>Seat</span>
                                <h3 class="minhaLabel"></h3>
                            </div>
                            <div class="item">
                                <span>Classe</span>
                                <h3 class="classe"></h3>
                            </div>
                            <div class="item">
                                <span>Price</span>
                                <h3 class="price"></h3>
                            </div>

                        </div>
                    </div>
                    <div class="receipt qr-code">
                        <svg class="qr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.938 29.938">
                            <path d="M7.129 15.683h1.427v1.427h1.426v1.426H2.853V17.11h1.426v-2.853h2.853v1.426h-.003zm18.535 12.83h1.424v-1.426h-1.424v1.426zM8.555 15.683h1.426v-1.426H8.555v1.426zm19.957 12.83h1.427v-1.426h-1.427v1.426zm-17.104 1.425h2.85v-1.426h-2.85v1.426zm12.829 0v-1.426H22.81v1.426h1.427zm-5.702 0h1.426v-2.852h-1.426v2.852zM7.129 11.406v1.426h4.277v-1.426H7.129zm-1.424 1.425v-1.426H2.852v2.852h1.426v-1.426h1.427zm4.276-2.852H.002V.001h9.979v9.978zM8.555 1.427H1.426v7.127h7.129V1.427zm-5.703 25.66h4.276V22.81H2.852v4.277zm14.256-1.427v1.427h1.428V25.66h-1.428zM7.129 2.853H2.853v4.275h4.276V2.853zM29.938.001V9.98h-9.979V.001h9.979zm-1.426 1.426h-7.127v7.127h7.127V1.427zM0 19.957h9.98v9.979H0v-9.979zm1.427 8.556h7.129v-7.129H1.427v7.129zm0-17.107H0v7.129h1.427v-7.129zm18.532 7.127v1.424h1.426v-1.424h-1.426zm-4.277 5.703V22.81h-1.425v1.427h-2.85v2.853h2.85v1.426h1.425v-2.853h1.427v-1.426h-1.427v-.001zM11.408 5.704h2.85V4.276h-2.85v1.428zm11.403 11.405h2.854v1.426h1.425v-4.276h-1.425v-2.853h-1.428v4.277h-4.274v1.427h1.426v1.426h1.426V17.11h-.004zm1.426 4.275H22.81v-1.427h-1.426v2.853h-4.276v1.427h2.854v2.853h1.426v1.426h1.426v-2.853h5.701v-1.426h-4.276v-2.853h-.002zm0 0h1.428v-2.851h-1.428v2.851zm-11.405 0v-1.427h1.424v-1.424h1.425v-1.426h1.427v-2.853h4.276v-2.853h-1.426v1.426h-1.426V7.125h-1.426V4.272h1.426V0h-1.426v2.852H15.68V0h-4.276v2.852h1.426V1.426h1.424v2.85h1.426v4.277h1.426v1.426H15.68v2.852h-1.426V9.979H12.83V8.554h-1.426v2.852h1.426v1.426h-1.426v4.278h1.426v-2.853h1.424v2.853H12.83v1.426h-1.426v4.274h2.85v-1.426h-1.422zm15.68 1.426v-1.426h-2.85v1.426h2.85zM27.086 2.853h-4.275v4.275h4.275V2.853zM15.682 21.384h2.854v-1.427h-1.428v-1.424h-1.427v2.851zm2.853-2.851v-1.426h-1.428v1.426h1.428zm8.551-5.702h2.853v-1.426h-2.853v1.426zm1.426 11.405h1.427V22.81h-1.427v1.426zm0-8.553h1.427v-1.426h-1.427v1.426zm-12.83-7.129h-1.425V9.98h1.425V8.554z" />
                        </svg>
                        <div class="description">
                            <h2>Ticket</h2>
                            <p>Show QR-code when requested</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


    <script>
        document.querySelector('.firstname').oninput = () =>{
            document.querySelector('.insertname').innerText = document.querySelector('.firstname').value;
        }
    </script>

    <script>
        $("span").click(function() {
            if ($(this).css("background-color") == "rgb(151, 94, 204)") {
            var valor = "Deluxe";
            var preco = @Model.Flights.Deluxe;
            document.querySelector('.classe').innerText = valor;
            document.querySelector('.price').innerText = preco;
            document.querySelector('.typeseat').value = valor;
            document.querySelector('.total').value = preco;
            
            }
            if ($(this).css("background-color") == "rgb(204, 197, 94)") {
            var valor = "Business";
            var preco = @Model.Flights.Business;
            document.querySelector('.classe').innerText = valor;
            document.querySelector('.price').innerText = preco;
            document.querySelector('.typeseat').value = valor;
            document.querySelector('.total').value = preco;
            }
            if ($(this).css("background-color") == "rgb(94, 109, 204)") {
                var valor = "Economic";
                var preco = @Model.Flights.Economic;
                document.querySelector('.classe').innerText = valor;
                document.querySelector('.price').innerText = preco;
                document.querySelector('.typeseat').value = valor;
                document.querySelector('.total').value = preco;
            }
            var valorSpan = this.getAttribute("value");
            document.querySelector('.minhaLabel').innerText = valorSpan;
            document.querySelector('.seatnumber').value = valorSpan;
        });
    </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js%22%3E"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js%22%3E"></script>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.2.0/vanilla-masker.min.js"></script>
</body>